@tailwind base;
@tailwind components;
@tailwind utilities;

.home {
  background-image: url('../assets/pexels-quang-nguyen-vinh-222549-3355732.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-about {
  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/pexels-pixabay-261204.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-promo1 {

  background-image: url('../assets/pexels-pixabay-235466.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.deluxe {

  background-image: url('../assets/deluxe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-deluxe {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/deluxe.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.ocean {

  background-image: url('../assets/ocean-view.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-ocean {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/ocean-view.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.family {

  background-image: url('../assets/family-suite.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-family {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/family-suite.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.honeymoon {

  background-image: url('../assets/honeymoon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-honeymoon {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/honeymoon.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.executive {

  background-image: url('../assets/executive.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-executive {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/executive.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.villa {

  background-image: url('../assets/garden-villa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.linear-villa {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/garden-villa.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.testimonials {

  background-image: linear-gradient(rgba(12, 13, 17, 0.7), rgba(15, 18, 29, 0.7)), url('../assets/testimonials.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {

  background-image: url('../assets/contactttttttt.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact-bg {

  background-image: url('../assets/backgroundfor\ contact.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vertical {
  transform: rotateZ(270deg);
}